<!-- <div class="body-login"></div>

<span class="p-float-label">
  <p-password [(ngModel)]="value" [feedback]="false"></p-password>
  <label for="password">Password</label>
</span>
<div class="col-12">
  <div class="col-3" style="text-align:center">
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm"></form>
  </div>
</div> -->

<div class="body-login bg-bhd">
  <div class="login">
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <span class="p-float-label">
        <input
          id="productType"
          type="text"
          pInputText
          formControlName="productType"
          autocomplete="off"
        />
        <label for="productType">Tipo de producto</label>
      </span>
      <span class="p-float-label">
        <p-password [(ngModel)]="value" [feedback]="false"></p-password>
        <label for="password">Password</label>
      </span>
      <button
        pButton
        type="submit"
        label="Acceder"
        class="p-button-success with button-height"
        [disabled]="formLogin.invalid"
      ></button>
    </form>
    <br />
  </div>
</div>
